<h1>Error</h1>
<h1 class="text-center">
    PÁGINA NO ENCONTRADA.
</h1>

<section>
    <img src="public\img\3814348.jpg" alt="imagen not found, Imagen de storyset" class="rounded mx-auto d-block w-75">
</section>