<H1>hola mundo</H1>

    <div class="card text-right w-full">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{$name}}</h5>
          <p class="card-text">Saldo disponible:</p>
          <p>Platino: <span id="platino">0</span> Oro: <span id="oro">0</span> Plata: <span id="plata">0</span> Cobre: <span id="cobre">0</span></p>
          <a href="/tiendas" class="btn btn-primary justify:end ">Iniciar compra</a>
        </div>
    </div>
