<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda DnD</title>
    <!--cdn tailwind-->
    <script src="https://cdn.tailwindcss.com"></script>
    <!--cdn font awesome icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"  />
</head>
<body class="">

    <header class="">
        {{> navbar}}
    </header>
    
    <main class="">
        {{{body}}}
    </main>
    
    
</body>
</html>